<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a new Post</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h2 class="whitecolor">Create new Post</h2>

    <form action="/posts" method="post">
      <input
        type="text"
        name="username"
        placeholder="username"
        id="username"
        required
      /><br /><br />
      <textarea
        name="content"
        placeholder="Write Post content Here"
        cols="30"
        rows="10"
        id="content"
        required
      ></textarea
      ><br />
      <button id="addBtn">Add new post</button>
    </form>
  </body>
</html>
