<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show post in Details</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1 class="whitecolor">Here you post in Details</h1>

    <h2 class="whitecolor">Post ID : <%= post.id %></h2>
    <div>
      <big>@<%= post.username %></big><br />
      <big><%= post.content %></big><br />
    </div>
  </body>
</html>
